[submodule "web"]
	path = web
	url = https://github.com/OCA/web.git
	branch = 18.0
[submodule "hr"]
	path = hr
	url = https://github.com/OCA/hr
	branch = 18.0
[submodule "partner-contact"]
	path = partner-contact
	url = https://github.com/OCA/partner-contact
	branch = 18.0
[submodule "product-attribute"]
	path = product-attribute
	url = https://github.com/OCA/product-attribute
	branch = 18.0
[submodule "sale-workflow"]
	path = sale-workflow
	url = https://github.com/OCA/sale-workflow
	branch = 18.0
[submodule "server-ux"]
	path = server-ux
	url = https://github.com/OCA/server-ux
	branch = 18.0
[submodule "purchase-workflow"]
	path = purchase-workflow
	url = https://github.com/OCA/purchase-workflow
	branch = 18.0
[submodule "stock-logistics-workflow"]
	path = stock-logistics-workflow
	url = https://github.com/OCA/stock-logistics-workflow
	branch = 18.0
[submodule "server-backend"]
	path = server-backend
	url = https://github.com/OCA/server-backend
	branch = 18.0
[submodule "server-auth"]
	path = server-auth
	url = https://github.com/OCA/server-auth
	branch = 18.0
